.modal {
  padding: 2rem;
  background-color: blue;

  h2 {
    text-align: center;
  }

  p {
    padding: 0.2rem 0;
    font-weight: 600;
  }

  ul {
    margin: 0.2rem;

    li {
      list-style: none;
    }
  }
}
